.page-node-type-award {
    .node--type-award {
        time {
            font-size: 1.5em;
            font-weight: bold;
            font-style: italic;
        }
    }
    
    .view-national-award-winners-by-year {
        img {
            width: 100%;
            max-width: 100%;
        }
    }


}