.page-node-type-award {
    .node--type-award {
        time {
            font-size: 1.5em;
            font-weight: bold;
            font-style: italic;
        }
    }
    
    .view-national-award-winners-by-year {
        img {
            width: 100%;
            max-width: 100%;
        }
    }

    .block-field-blocknodeawardfield-deadline {
        >div {
            display: flex;

            time {
                margin-left: 1em;
            }
        }
    }

    .block-field-blocknodeawardfield-submission-form {
        a {
            display: inline-block;
            background: $SPJblue;
            color: #fff!important;
            padding: .7em 1em;

        }
    }
    .layout__region--first {
        .block-field-blocknodeawardfield-submission-form {
            margin: 1em 0;
        }
    }
    .layout__region--second {
        .block-field-blocknodeawardfield-submission-form {
            margin-bottom: 1em;
            border-bottom: 2px dashed #ddd;
            padding-bottom: 1em;
        }
    }

   

}

.block-views-blockbios-block-5 {
    .view-id-bios  {
        li {
            .views-field-title {
                a {
                    pointer-events: none;
                }
            }
            .views-field-field-title, 
            .views-field-field-profile, 
            .views-field-body {
                display: none;
            }
            .views-field-title, .views-field-field-email {
                flex: 1 100%;
            }
            .views-field-field-role {
                font-weight: bold;
                ul {
                list-style: none;
                li {
                    margin-left: 0;
                    &::before {
                        content: none;
                    } 
                }
                
                }
            }
        }
    }
}

.award-reports {
    .container {
        max-width: 999em;
        width: 100%;
    }
    .block-spj-toc-block {
        display: none;
    }
    .block-views-blockaward-submissions-block-1 {
        .view-content {
            overflow: auto;
            width: 96vw;

            th {
                white-space: nowrap;
            }
        }
        
    }
}

/* webforms */
body:not(.testing-em-classplaceholdermoe-entry-em-webform) .webform-submission-moe-entry-form .js-form-item-maincat,
body:not(.testing-em-classplaceholdermoe-entry-em-webform) .webform-submission-moe-entry-form .js-form-item-subcat
 {
    font-size: 1px; 
    visibility: hidden;
    position: absolute;
    top: -999em;
}