.block-views-blockregion-detail-block-1 {

    .view-grouping {
        background: #eee;
        border-radius: 1em;
        padding: 1em;
        margin-bottom: 1em;

        h3 {
            border-bottom: 1px solid #ccc;
        }
        .view-grouping-header {
            font-size: 3em;
        }
    }
}

.view-region-detail {
    .views-row {
        display: flex;
        flex-wrap: wrap;

        .views-field-title,
        .views-field-title,
        .views-field-field-active- {
            flex: 1 100%;
        }

    }
}