.block-group-content-menu{
    .navbar-nav {
        flex-direction: row;
    }
}

.field--name-field-community-image,.views-field-field-community-image {
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
}