

.page-node-type-convention-page, .path-convention {

    text-align: center;

    ol.breadcrumb {
        display: none;
    }

    .page-title.text-left {
        text-align: center!important;
    }
    .node__content {
        .block-inline-blockbasic {
            max-width: 1000px;
            background: #000;
            border: 4px solid #22baef;
            color:  #22baef;
            padding: 2em;
            margin: 3em 0;
            margin: auto;
        }
    }

    .region-breadcrumb .navbar-nav {
        position: relative;
        border-radius: 30px;
        display: inline-flex;
        margin: auto;
        top: -1em;
        background: #000!important;
        border: 4px solid #22baef;
        padding: 10px;

        li {
            margin: .5em;
            a {
                color: #22baef;
                position: relative;
                padding: 0.5em;
                display: block;

                &.is-active {
                    background: #dc098c;
                    border-radius: 10px;
                    color: #fff;
                }

                &::after {
                    content: ".";
                    display: inline-block;
                    position: absolute;
                    right: 0px;
                    top: 10px;
                    color: #dc098c;
                    border-right: 2px solid #dc098c;
                    font-size: 0;
                }
            }
        }
        
    }

    .banner.page-path-convention {
        background-position: bottom;
        border-bottom: 4px solid #000;
    }

    .view-convention-replays {
        margin: 3em auto; 
        max-width: 1100px;

        .views-row {
            display: flex;
            flex-wrap: wrap;

            .views-field-title {
                flex: 1 100%;
            }
            .views-field-body {
                flex: 1 80%;
                order: 1;
                text-align: left;
            }
            .views-field-field-thumb {
                flex: 1 20%;

                img {
                    width: 100%;
                }
            }
        }
    }

    /*
    #header {
        .navbar {
            background-color: rgba(255,255,255,0.7)!important;
            backdrop-filter: blur(6px) saturate(58%);
        }
    }
    */

    #header {
        .navbar {
            /*
            background-color: rgba(0,0,0,1)!important;
            color: #eee;
            */
        }
    }
}