.page-node-type-freelance-guide {
    .block-field-blocknodefreelance-guidebody {
        padding-right: 1em;
        img {
            max-width: 100%;
        }
    }
    .block-views-blockfreelance-guides-block-1 {
        border-radius: 5px;
        padding: 0.75em;
        .view-freelance-guides {
            .views-row {
                margin-bottom: 0px;
                padding-bottom: 0px;
            }
            h3 {
                margin-top: .75em;
            }
        }
    }

    &.path--whistleblower {
        blockquote {
            padding: 25px;
            background: #EFCC44;
            background-size: auto 6px;
            float: left;
            width: 50%;
            margin-left: 0;
            margin-top: 0;
        }
        .banner {
            display: flex;
            align-items: center;
            align-content: center;
            .banner-content {
                flex: 1 100%;
                h1 {
                    color: #EFCC44;
                    text-shadow: 0px 0px 10px #000;
                    font-size: 5em;
                }
                h2 {
                    font-weight: 900;
                    margin-right: 1em;
                    margin-top: .2em;
                    text-shadow: 0px 0px 10px #000;
                }
            }
        }
        
    }
}