.view-news {
    .view-content {
        padding-bottom: 2em;
        margin-bottom: 2em;

        .views-row {
            padding-bottom: 2em;
            margin-bottom: 2em;
            border-bottom: 1px solid $SPJlightgrey;
        }
    }
}

.node--type-news-item {
    .field--name-field-contacts {
        padding: 10px; 
        border-radius: 5px;
    }
    .field--name-field-active-date {
        time {
            font-size: 1.3em;
            font-weight: bold;
        }
    }

    section[data-section="bio-embedded-inline"] {
        margin-bottom: 0.5em;
        display: flex;

        div[data-container='flex']{
            display: flex;
            .layout__region {
                display: flex;
                >div {
                    margin-right: 8px;
                    margin-left: 8px;
                    position: relative;
                    &::after {
                        content: "|";
                        margin-left: -5px;
                        display: inline;
                        position: absolute;
                        top: 0;
                    }
                    &.field--name-field-twitter {
                        &::after {
                            content: none;
                        }
                    }
                }
            }
        }
    }

    
}

#block-views-block-homepage-news-block-1 {
    margin-top: 2em;
    margin-bottom: 2em;
    padding-top: 3em;

    h2 {
        text-align: center;
        background: rgba(255,255,255,0.2);
        font-size: 3.5rem;
        text-transform: uppercase;
        text-shadow: 2px 1px 1px black;
        position: absolute;
        top: 0;
        left: 0;
        width: calc(100vw - 10px);

    }

    .pager__items {
        padding: 0;

        .pager__item {
            padding: 0;
            a {
                padding: 0.5em;
                background-color: rgba(0,0,0,0.4);
                border-radius: 50%;
                font-size: 2em;
                width: 50px;
                height: 50px;
                line-height: .2em;
                display: inline-block;

                
            }
            &.is-active {
                position: relative;
                top:-3px;
            }
        }
    }


    .contextual-links {
        li {
            a {
                color: #000;
            }
        }
    }
}

.view-homepage-news {
    margin: auto;
    max-width: 1200px;
    padding: 2em;
    @include respond-above(lg){
        padding: 2em 0;
    }
}

.block-views-blocknews-block-1 {
    ul {
        li {
            time {
                display: block;
            }
        }
    }

    .view-news {
        .view-content {
            padding-bottom: 0.2em;
            margin-bottom: 0;
        }
    }
}
