.block-views-blocktools-leaders-block-1,
.block-views-blocktools-leaders-block-2,
.block-views-blocktools-leaders-block-3,
.block-views-blocktools-leaders-block-4 {
    padding: 1em;
    background: #eee;
    margin-bottom: 2em;

    .view-tools-leaders.view {
        .views-row {
            margin: 0;
            padding: 0;
        }
    }
    
}