body {

    h1 {
        font-size: 2rem;
        @include respond-above(sm){
            font-size: 2rem;
        }
        @include respond-above(md){
            font-size: 3rem;
        }
        
        font-weight: 800;
        &.display-4 {
            font-size: 2rem;
            @include respond-above(md){
                font-size: 3rem;
            }
            font-weight: 700;
        }
    }
    h2 {
        font-size: 2rem;
        font-weight: 700;
    }
    h3 {
        font-size: 1.5rem;
    }

    main {
        font-size: 1.1rem;
    }
    }