.desc {
  margin: 1em;
  background: #eee;
  padding: 1em;
}
label {
  font-weight: bold;
}
.description {
  background: #eee;
  padding: 1em;
  border-radius: 4px;
  border: 1px solid #aaa;
}
.well {
  border: 1px solid #aaa;
  margin: 1em;
  margin-bottom: 0;
  padding: 1em;
  border-radius: 4px;
}
.form-control {
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 6px 12px;
  margin-bottom: 6px;
}