
&.path--algorithms {
    background-color: #000;

    main {
        padding-top: 0;
        >.container {
            background: #000;
            color: #fff;
            padding: 1em;
        }
        box-shadow: none;

        .col-content {
            a {
                color: #ff3a58;
                font-weight: 600;
                text-decoration: none;
                &:hover {
                    color: #fffdde;
                    text-shadow: 0 0 8px #ff3a58;
                    transition: all 0.2s ease-in-out;
                }
            }
        }

        .block-field-blocknodefoi-subsitebody {

            .navigation {
                display: block;
            }
        }
        
    }
}

&.path--smack {
    .navbar-nav {
        background-color: transparent!important;
        margin: 0 auto!important;
    }
}
&.path--algorithms {
    .subsite_header_algorithm {
        background-color: #000!important;

        .navbar-nav {
            background-color: transparent!important;
        }
    }

}
&.path--gagged  {

    background-color: #333;
    background-image: url(https://spj.org/gagged/images/bg.jpg);
    background-size: 20% 20%;

    .breadcrumb {
        margin:0;
    }

    
    .subsite_header_gagged {
        background-color: #000!important;

        .navbar-nav {
            background-color: transparent!important;
        }
    }
    main {
        padding-top: 0;
        >.container {
            background: #000;
            color: #fff;
            padding: 1em;
        }
        box-shadow: none;

        .col-content {
            a {
                color: #ccc;
                border-bottom: 1px dashed #ddd;
            }
        }

        .block-field-blocknodefoi-subsitebody {

            .navigation {
                
                overflow: hidden;
                text-align: center;
                background-color: #ff3a58;
                background-position: center;
                overflow: hidden;
                background-size: 50%;
                box-shadow: inset 0 0 200px #000;
                border-bottom: 15px solid #000;
            
                .navbar-nav {
                    
                    li {
                        a {
                            text-transform: uppercase;
                            display: inline-block;
                            margin-left: 15px;
                            margin-right: 15px;
                            color: #ff3a58;
                            text-shadow: 0px 0px 8px #000;
                            transition: all 0.2s ease-in-out;

                            &:hover {
                                color: #fffdde;
                                text-shadow: 0 0 8px #ff3a58;
                                transition: all 0.2s ease-in-out;
                                text-decoration: line-through;
                            }
                        }
                    }
                }
            }
        }
    
        
    }
}

&.path--ethicsweek, &.ethicsethicsweekorder {
    .block-field-blocknodefoi-subsitebody {
        width: 90%;
        margin: auto;
        max-width: 1200px;

        .ethicsweek_header {
            background-color: #1e4387!important;
            text-align: center;
            .g-section-wrapper {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                align-content: center;

                .wp-block-image {
                    flex: 1 100%;
                }
                .wp-block-buttons {
                    flex: 1 100%;
                    .wp-block-button {
                        width: 100%;
                    }
                }


            }
        }

        .ethicsweek_morelinks {
            background-color: transparent!important;
        }

        .ethicsweek_whatcanyoudo {
            background-color: transparent!important;

            .wp-block-media-text__media {
                background-color: #fff;
            }
        }

        .wp-block-cloudblocks-g-section {
            background: $sectionBG;
        }

        
        .ethicsweek_nav {
            text-align: center;
            color: #fff;
            margin-bottom: 2em;
            background-color: #333!important;
            a {
                color: #fff;
            }

            .navbar-nav {
                max-width: 1000px;
                flex-direction: row;
                flex-wrap: wrap;
                margin: auto;
                background-color: transparent!important;
                margin: 2em auto;
                
                li.nav-item {
                    flex: 1 auto;
                    font-size: 1.3em;
                    a.nav-link {
                        color: #fbff85;
                        border-right: 1px dotted yellow;

                        &.is-active {
                            color: #fbff85;
                            text-decoration: underline;
                            font-weight: bold;
                            background-color: rgba(255,255,255,0.15);
                        }
                    }
                }
            }
        }

        .ethicsweek_sidebar {
            border: 2px solid $SPJblue;
            border-radius: 10px;
            background-color: transparent!important;

            p.text-white.btn-block {
                a {
                    color: #fff!important;
                    display: block;
                }
            }
        }
    }
    .bread {
        visibility: hidden;
        margin-top: -1em;
    }
}