.race--gender-hotline {
    .race-gender-title {

        padding: 2em!important;
        margin-bottom: 2em;

        .page-title {
            color: #fff;
            text-align: center!important;
        }
        
    }
    h2 {
        color: #9d2020;
        font-weight: bold;
        font-size: 1.9em;
    }
}