.donate_wrapper {
    position: absolute;
    right: 3em;
    top: 213px;
    background: #00499059;
    padding: 3em;
    height: 200px;
    color: $white;
    border: 7px solid #004990;
    border-radius: 10px;
    display: none;
}

.view-id-donation_funds {
    .field--name-field-donation-logo {
        img {
            width: 100%;
            height: auto;
        }
    }
}