
.flexSearch {
    margin: 0 1em;
    form {
        display: flex;

        .js-form-type-search {
            flex: 1 90%;
        }

        .form-actions {
            position: relative;
            width: 30px;
            display: inline-block;
            height: 30px;

            &::before {
                content: '';
                width: 30px;
                height: 30px;
                display: inline-block;
                background-color: #333;
                -webkit-transition: all 0.2s ease-in-out;
                transition: all 0.2s ease-in-out;
                margin-left: .25rem;
                margin-top: 5px;


                -webkit-mask: url("../images/icon/search.svg");
                mask: url("../images/icon/search.svg");
                -webkit-mask-size: cover;
                mask-size: cover;
                -webkit-mask-repeat: no-repeat;
                mask-repeat: no-repeat;
            }
            &:hover {
                &::before {
                    background-color: #33a1fd;
                }
            }

            input {
                background-color: transparent;
                border: 0;
                font-size: 0;
                padding: 0;
            }

        }
    }

    &.show-search {
        form {
            .form-actions:before {
                -webkit-mask: url("../images/icon/x.svg");
                mask: url("../images/icon/x.svg");
                -webkit-mask-size: cover;
                mask-size: cover;
                -webkit-mask-repeat: no-repeat;
                mask-repeat: no-repeat;
            }
        }
    }
}


.region-footer {
    .flexSearch {
        form .form-actions::before {
            background-color: #fff;
        }
    }
}