<!-- THEME DEBUG -->
<!-- THEME HOOK: 'form' -->
<!-- BEGIN OUTPUT from 'themes/custom/mytheme/templates/form/form.html.twig' -->
<form class="search-form needs-validation" data-drupal-selector="search-form" action="/search/node?keys=" method="post" id="search-form" accept-charset="UTF-8" novalidate="" role="form">
<!-- THEME DEBUG -->
<!-- THEME HOOK: 'container' -->
<!-- BEGIN OUTPUT from 'themes/custom/mytheme/templates/form/container.html.twig' -->
<div class="container-inline js-form-wrapper form-wrapper" data-drupal-selector="edit-basic" id="edit-basic">
<!-- THEME DEBUG -->
<!-- THEME HOOK: 'form_element' -->
<!-- BEGIN OUTPUT from 'themes/custom/mytheme/templates/form/form-element.html.twig' -->
<div class="form-group js-form-item form-item js-form-type-search form-item-keys js-form-item-keys">
<!-- THEME DEBUG -->
<!-- THEME HOOK: 'form_element_label' -->
<!-- BEGIN OUTPUT from 'themes/custom/mytheme/templates/form/form-element-label.html.twig' -->
<label for="edit-keys" class="hidden-lg">Enter your keywords </label>
<!-- END OUTPUT from 'themes/custom/mytheme/templates/form/form-element-label.html.twig' -->

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'input__search' -->
<!-- FILE NAME SUGGESTIONS:
* input--search.html.twig
x input.html.twig
-->

<!-- BEGIN OUTPUT from 'themes/custom/mytheme/templates/form/input.html.twig' -->
<input data-drupal-selector="edit-keys" type="search" id="edit-keys" name="keys" value="" size="30" maxlength="255" class="form-search form-control rounded-0 shadow-none">
<!-- END OUTPUT from 'themes/custom/mytheme/templates/form/input.html.twig' -->
</div>
<!-- END OUTPUT from 'themes/custom/mytheme/templates/form/form-element.html.twig' -->

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'input__submit' -->
<!-- FILE NAME SUGGESTIONS:
* input--submit.html.twig
x input--submit-button.html.twig
* input.html.twig
-->

<!-- BEGIN OUTPUT from 'themes/custom/mytheme/templates/form/input--submit-button.html.twig' -->
<button data-drupal-selector="edit-submit" type="submit" id="edit-submit" name="op" value="Search" class="button js-form-submit form-submit btn btn-primary rounded-0 shadow-none">Search</button>
<!-- END OUTPUT from 'themes/custom/mytheme/templates/form/input--submit-button.html.twig' -->
</div>
<!-- END OUTPUT from 'themes/custom/mytheme/templates/form/container.html.twig' -->
<a href="/search/node/help" class="search-help-link" data-drupal-selector="edit-help-link" id="edit-help-link">Search help</a>
<!-- THEME DEBUG -->
<!-- THEME HOOK: 'input__hidden' -->
<!-- FILE NAME SUGGESTIONS:
* input--hidden.html.twig
x input.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/custom/mytheme/templates/form/input.html.twig' -->
<input autocomplete="off" data-drupal-selector="form-hk4l-ocrxex5utfjfyp83whi0kpiiapvmwrjqujj3ga" type="hidden" name="form_build_id" value="form-hK4L-OCrXEX5UTfjfyp83WhI0kPiiaPVMWRjqUjJ3GA" class="form-control rounded-0 shadow-none">
<!-- END OUTPUT from 'themes/custom/mytheme/templates/form/input.html.twig' -->
<!-- THEME DEBUG -->
<!-- THEME HOOK: 'input__hidden' -->
<!-- FILE NAME SUGGESTIONS:
* input--hidden.html.twig
x input.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/custom/mytheme/templates/form/input.html.twig' -->
<input data-drupal-selector="edit-search-form" type="hidden" name="form_id" value="search_form" class="form-control rounded-0 shadow-none">
<!-- END OUTPUT from 'themes/custom/mytheme/templates/form/input.html.twig' -->
</form>
<!-- END OUTPUT from 'themes/custom/mytheme/templates/form/form.html.twig' -->