@import '../mediaquery/mediafunctions';
@import 'partials/landing';
body {
    background-color: $bodybg;
    color: $bodytext;

    a,a:link,a:visited,a:focus, a:link.button-action {
        color: $linkColor;
    }
    a:hover {
        color: $linkHover;
    }


    blockquote {
        margin: 1rem;
        border-left: 4px solid;
        padding-left: 1rem;
    }

    .cta {
        font-size: 1.2em;
        padding: .667em 1.333em;
        border: 2px solid $bodytext;
        border-radius: 9999px;
        color: $bodytext;
        margin: 0.3em 0;
        display: inline-block;
    }

    .view-bluebox-by-page {
        background: $SPJblue;
        color: #fff;

        a {
            color: $SPJgreen;
        }
    }

    a.wp-block-button__link {
        color: $linkColor;
        background:$navBG;

        &:hover {
            color: $linkHover;
        }
    }

    .toolbar-tab {
        .toolbar-tray {
            a,a:link,a:visited,a:focus {
                color: #333;
            }
        }
    }

    .dropdown-menu {
        background-color: $navBG;
    }

    @import 'partials/foisubsites';
   

    .flexSearch {
        background:  rgba(0,0,0,0.3);
    }

    #header {
        box-shadow: 0 0 5px -2px $navShadow;
        a {
            color: $navLinkcolor;
        }
        .contextual-links a {
            color: #333; 
        }
        .topnav {
            background-color:$topNav;
            
            a {
                color: $topNavColor;
            }
            .block-spj-themeswitch {
                .themeswitcher {
                    a {
                        border-width: 0;
                        &.btn-secondary {
                            &.active {
                                position: relative;
                                background:transparent;
                                &:after {
                                    content: "";
                                    display: block;
                                    width: 100%;
                                    position: absolute;
                                    bottom: 2px;
                                    left: 0;
                                    height: 2px;
                                    background-color:#33a1fd;
                                }
                            }
                        }
                    }
                }
            }
            .navbar-nav {
                .nav-item {
                    a {
                        &:link, &:visited, &:focus{
                            color: $topNavColor;
                        }
                        &:hover {
                            color: $SPJgreen; 
                        }
                    }
                }
            }

            .block-themeswitch {
               .btn-group {
                   border: 0;
                   a {
                    border: 0;
                    &.active {
                        background-color: rgba(0,0,0,0.1);
                        
                    } 
                   }
                   
               }
                
            }
        }
        .language-switcher-language-url  {
            .links {
                li::before {
                    color: $topNavColor;
                }
            }
        }
        #block-secondarynav  {
            .navbar-nav {
        
                li:nth-child(1) {
                    position: relative;
                    a {
                        &:after {
                            background: $navLinkcolor;
                        }
                    }
                }
            }
        }
        .navbar {
            &.navbar-light {
                background-color: $navBG;
                transition: all ease 0.3s;
               
                box-shadow: 0 0 5px -2px $navShadow;
                .navbar-toggler-icon {
                    background-image: url($toggler);

                }
                
            }
        }
        &.transparent {
            .navbar {
                &.navbar-light {
                   display: block;
                   
                    
                }
            }
        }
        .navbar-nav {
            .nav-item {
                a {
                    &:link, &:visited, &:focus{
                    color: $navLinkcolor;
                    }
                    &:hover {
                        color: $SPJgreen; 
                    }
                }
            }
        }

        .tb-megamenu .nav > li > a:focus, 
        .tb-megamenu .nav > li > a:hover, 
        .tb-megamenu .nav > li > span.tb-megamenu-no-link:focus, 
        .tb-megamenu .nav > li > span.tb-megamenu-no-link:hover {
            background-color: rgba(0,0,0,0.3);
        }

 

        .region-nav-additional {

            .nav-item {
                background-color: $SPJgreen;
                &:nth-child(1){
                    background-color: transparent;
                    color: #333;
                    a {
                        color: #333;
                    }
                }
                a {
                    color: $white!important;
                }
                
            }
        }
         
       
    }

    .banner {

        .view-slider {

            .view-content {
                .views-field-title {
                    background-color: rgba(255,255,255,0.3);
                }
            }
        }
    }

    &.page-node-type-freelance-guide, &.page-node-type-foi-subsite {
        .block-views-blockfreelance-guides-block-1 {
            background-color: #004990;
            color: #fff;
            a {
                color: #E6FF8B;
                font-weight: bold;
            }
            .views-row {
                border-bottom: 0;
            }
        }
    }
    &.path-frontpage {
        #block-views-block-news-block-1-2, #block-views-block-homepage-news-block-1 {
            background-color: #b72f22ed;
            color: #fff;
            .view-content {
                a {
                    color: #fff;
                }
            }
            a {
                color: #fff;
            }
        }
    }

    .google-marketing-training.row {
        >div {
            margin-bottom: 2em;
            
            img {
            box-shadow: 0 0 19px -2px #333;   
            border-radius: 5px;
            }
        }
    }
    
    
    #block-sdxdonate {
        background: $offsetBG;
        box-shadow: inset 0 0 20px  darken($offsetBG, 15%);
    }

    .region-map {
        text-align: center;
        background-color: #fefefe;
        border-radius: 10px;
        background: #525252;

        svg {
            width: 100%;
            max-width: 1200px;
            margin: auto;
            height: 100%;
        }
        

        path {
            stroke-width: 2px;
            stroke: #000;
            stroke-linejoin: round;
        }
        path.hover, circle.hover {
          stroke: #000;
          stroke-width:2px;
        
          opacity: 0.7;
          cursor: pointer;
        }
        #path67, .path67 {
          fill: none !important;
          stroke: #A9A9A9 !important;
          cursor: default;
        }
        #info-box {
          display: none;
          position: absolute;
          top: 0px;
          left: 0px;
          z-index: 1;
          background-color: #ffffff;
          border: 2px solid #BF0A30;
          border-radius: 5px;
          padding: 5px;
          font-family: arial;
        }

        .region1 {
            fill: #f9d066;
        }
        .region2, #circle60 {
            fill: #da8c62;
        }
        .region3 {
            fill: #7c5e5c;
        }
        .region4 {
            fill: #4c9467;
        }
        .region5 {
            fill: #548a9b;
        }
        .region6 {
            fill: #d4dd73;
        }
        .region7 {
            fill: #9e7d51;
        }
        .region8 {
            fill: #71747a;
        }
        
        .region9 {
            fill: #4d9769;
        }
        .region10 {
            fill: #9a9fa6;
        }
        .region11 {
            fill:#fcf46e;
        }
        .region12 {
            fill: #f8d6b3;   
        }
        .regionText {
            font-weight: bold;
            color: #000!important;
            font-size: 20pt;
            fill: #000!important;
        }
        .regionTextWrapper {
            cursor: pointer;
        }
        
        .regionTextWrapper circle {
            display: none;
        }
    }

    main {
        box-shadow: inset 0 0 300px $mainShadow;
        &.landing {
            box-shadow: none;
        }
        
        .view-spj-bios {
            .views-row {
                border-bottom: 2px dashed #ddd;
            }
        }
        .view {
            .views-row {
                border-bottom: 2px dashed #ddd;
            }
            .view-filters {
                border-radius: 5px;
                
                background: $offsetBG;
            }
        }
        .block-views {
            .views-row:not(.com-list){
                .view-id-committees_taxonomy {
                    background: rgba(0,0,0,0.1);
                }   
            }
        }

        .node--type-news-item {
            .field--name-field-contacts {
                background-color: $offsetBG;

            }
        }
        

        .wp-block-cloudblocks-g-section {
            background: $sectionBG!important;
        }

    

        .node__content {
            .menu--main {
                .navbar-nav {
                    background: $submenuBG;
                    margin-bottom: 2em;
                    

                    .nav-item {
                        .is-active {
                            font-weight: bold;
                            color: $sideBarActive;
                        }
                    }
                }
            }
        }
    }

    .region-sidebar-second {

        @include respond-below(md){
            border-radius: 0;

            border-top: 2px solid;
            background-color: rgba(0,0,0,.1);
        }

        .view {
            .views-row {
                border-bottom: 0px dashed #ddd;
            }
        }

        .navbar-nav {
            background: $sidebarNav;

            .nav-item {
                &.is-active {
                    font-weight: bold;
                    color: $sideBarActive;
                }
            }
        }
    }

    .region-content-below {
        border-top: 2px dotted #aaa;
    }

    footer.main-footer {
        border-top: 1px solid #000;
        color: $white;
        background-color: $footerBG;
        a {
            color: $footerText;
            &:hover {
               opacity: 0.8;
            }
        }
        .footer-bot {
            background: $footerBot;
        }
    }
}